
.idea/misc.xml
.idea/MI-250.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.vscode/settings.json
.DS_Store
.DS_Store
Assingments/.DS_Store
Assingments/module03/.DS_Store
.DS_Store
